* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {

}

a {
  text-decoration: none;
  color: aliceblue;
}

#ProgressGraph {
  width: 100%;
  height: 100%;
}



.login-header {
  margin-top: 9%;
  color: #595959;
}

.container {
  padding-top: 160px;
  position: relative;
  display: flex;
  place-content: center;
}

#content>div {
  padding: 70px 0;
}

.login-container {
  padding: 2% 8%;
  padding-top: 15%;
  width: 30rem;
  background: transparent;
  border-radius: 12px;
  border:2px solid #594100;
  backdrop-filter: blur(9px);
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 8% 6%;
  align-items: center;
  text-align: center;
}

.input-div {
  position: relative;
  display: grid;
  margin: 25px 0;
  padding: 5px 0;
}

.input {
 font-size: px;
     color: #000000;
  padding: 8px 16px;
  border-radius: 8px;
}

.btn:hover {
  background-position: right;
}

.input-div label {
  display: block;
  margin-bottom: 8px;
  font-size: 36px;
  color: #a58e60;
  font-size: 14px;
}

.login-button {
  width: 50%;
  padding: 3%;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #a5a4a4;
}

.login-button:hover {
  background-color: #878787;
}

.logout-btn {
  background-color: rgb(164, 164, 164);
  margin-left: 90%;
  padding: 0.5%;
  border-radius: 11%;
}

.logout-btn:hover {
  transform: scale(1.05);
}

.error-msg {
  color: rgb(214, 8, 8);
  height: auto;
  margin-bottom: 20px;
}

.navbar {
  background-color: #60727481;
  padding: 1rem 2rem;
}

.footer {

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #60727460;
  padding: 0.5rem;

}

.footer p {
  text-align: center;
}

.welcome {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.username {
  font-size: 12px;
     color: #000000;
  padding: 8px 16px;
  border-radius: 8px;
}

.profile-header {
  position: absolute;
  top: 90px;
  width: 80%;
  padding: 19px;
  display: flex;
    border: solid #a58e60;
  background-color: #2c3e50c4;
  align-items: baseline;
}

.userdata {
  position: absolute;
  top: 238px;
  display: flex;
  width: 43%;
  height: 300px;
  left: 5%;
    border: solid #a58e60;

  background-color: #2c3e50c4;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.totalXP {
  position: absolute;
  top: 238px;
  width: 43%;
  height: 300px;
  left: 55%;
    border: solid #a58e60;

  background-color: #2c3e50c4;
}

#chart {
  width: 100%;
  height: 100%;
}

.skills {
  position: absolute;
  top: 450px;
  width: 40%;
  height: 200px;
  left: 55%;
    border: solid #a58e60;

  background-color: #2c3e50c4;
}


.label {
  font-size: 10px;
  text-anchor: middle;
}

.axis-label {
  font-size: 10px;
}

.tick {
  stroke: #000;
  stroke-width: 1;
}

.tooltip {
  fill: rgb(158, 158, 158);
  font-size: 12px;
  text-anchor: middle;
}


.xpProgress {
  position: absolute;
  top: 570px;
  border: solid #a58e60;
  height: 590px;
  background-color: #2c3e50c4;
}



.welcome-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Arial', sans-serif;
  padding: 0.75rem;
}

.welcome-text {
  font-size: 1.1rem;
  color: #dbdada;
}

.user-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2a6496;
}